<html>
  <head>
    <style type="text/css">
      .wrap {
        width: 1000px;
        height: 300px;
        overflow-x: scroll;
        white-space: nowrap;
        display: flex;
      }
      .wrap .new-item {
        float: left;
        display: flex;
      }
      .wrap img {
        width: 300px;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div class="wrap">
      <div class="new-item"><img src="../images/TAILGATE_BACK_KA4.png" /></div>
      <div class="new-item"><img src="../images/TAILGATE_BACK_KA4.png" /></div>
      <div class="new-item"><img src="../images/TAILGATE_BACK_KA4.png" /></div>
      <div class="new-item"><img src="../images/TAILGATE_BACK_KA4.png" /></div>
      <div class="new-item"><img src="../images/TAILGATE_BACK_KA4.png" /></div>
      <div class="new-item"><img src="../images/TAILGATE_BACK_KA4.png" /></div>
      <div class="new-item"><img src="../images/TAILGATE_BACK_KA4.png" /></div>
    </div>
  </body>
</html>
